@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.resultWelcome {
  padding-top: 25px;

  @include tablet {
    margin-bottom: 59px;
  }

  @include mobile {
    padding-top: 20px;
  }

  > .headingContainer {
    display: flex;
    gap: 215px;

    @include notebook {
      justify-content: space-between;
      gap: 0;
    }

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    > .titleWrapper {
      display: flex;
      flex-direction: column;
      gap: 36px;
      max-width: 509px;
      padding-top: 44px;

      @include tablet {
        padding-top: 0;
      }

      @include mobile {
        gap: 21px;
      }

      > .title {
        @include pageHeading;
      }

      > .text {
        font-size: 20px;
        line-height: 24px;
        max-width: 440px;

        @include mobile {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    > .imgWrapper {
      max-width: 552px;

      @include mobile {
        max-width: 350px;
      }
    }
  }
}
