@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin: 0 auto;

  @include mobileMedium {
    min-height: 65px;
  }

  > .loaderIcon {
    width: 36px;
    height: 36px;
    animation: loader 2s linear infinite;

    &.loaderIconBig {
      width: 50px;
      height: 50px;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
