@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.resultDocuments {
  display: flex;
  flex-direction: column;
  margin-bottom: 109px;

  @include mobile {
    margin-bottom: 57px;
  }

  > .heading {
    margin-bottom: 58px;
    @include resultPageHeading;

    @include mobile {
      margin-bottom: 34px;
    }
  }

  > .documentsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px;
    margin-bottom: 38px;

    @include tablet {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    @include mobile {
      gap: 20px;
    }
  }

  > .btnLoadMore {
    align-self: center;
    max-width: 305px;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    @include actionBtn;

    @include mobile {
      max-width: 335px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
