@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.userPanel {
  > .infoWrapper {
    min-width: 474px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      min-width: 330px;
    }

    @include mobileMedium {
      min-width: 240px;
    }

    @include mobileSmall {
      min-width: 215px;
    }

    > .companyInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      width: 167px;
      padding: 15px;
      background-color: rgba(217, 217, 217, 0.3);
      border-radius: 5px;
      font-size: 10px;
      line-height: 12px;

      @include mobileMedium {
        width: 132px;
        height: 71px;
        padding: 5px;
      }

      > .text {
        color: rgba(0, 0, 0, 0.4);
        align-self: flex-end;

        @include mobileMedium {
          align-self: flex-start;
          white-space: nowrap;
        }

        > .numbers {
          margin-left: 6px;
          font-size: 14px;
          line-height: 17px;
          font-weight: 700;
          color: $black;

          @include mobileMedium {
            display: block;
            margin-left: 0;
          }
        }

        > .greenNum {
          color: $green;
        }
      }
    }

    > .userInfo {
      display: flex;
      align-items: center;
      gap: 3px;

      @include mobile {
        display: none;
      }

      > .userInfoWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 3px;

        > .name {
          font-size: 14px;
          line-height: 17px;
          white-space: nowrap;
        }

        > .logoutBtn {
          font-size: 10px;
          line-height: 12px;
          background: transparent;
          opacity: 40%;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      > .avatar {
        width: 32px;
        height: 32px;
      }
    }
  }

  > .loginAction {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    line-height: 17px;

    @include mobile {
      display: none;
    }

    > .registerLink {
      @include link;
      color: $black;
      opacity: 40%;

      &:hover {
        text-decoration: underline;
      }
    }

    > .divider {
      height: 26px;
      width: 2px;
      background-color: $turquoise;
      opacity: 0.6;
    }

    > .loginLink {
      @include link;
      padding: 5px 10px;
      background-color: $accent-turquoise;
      border-radius: 5px;
      font-weight: 500;
      color: $black;
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: $accent-turquoise-hover;
      }
    }
  }
}
