@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.tariffs {
  margin-bottom: 118px;

  @include mobile {
    margin-bottom: 43px;
  }

  .heading {
    margin-bottom: 70px;
    @include mainHeading;

    @include mobile {
      margin-bottom: 37px;
    }
  }

  .tariffsWrapper {
    display: flex;
    justify-content: space-between;

    @include notebook {
      justify-content: center;
      flex-wrap: wrap;
      gap: 43px;
    }
  }
}
