@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.header {
  > div {
    @include containerSettings;
    min-height: 93px;

    > .headerLogo {
      > img {
        width: 141px;

        @include mobile {
          width: 111px;
        }
      }
    }

    > .nav {
      @include mobile {
        display: none;
      }

      > .navList {
        display: flex;
        gap: 49px;

        > li {
          > .navLink {
            @include link;
            position: relative;
            padding-bottom: 3px;
            font-size: 14px;
            line-height: 17px;
            color: $black;

            &.active {
              pointer-events: none;
            }

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 2px;
              background-color: $turquoise;
              transform: scale(0);
              transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
            }

            &:hover::after,
            &.active::after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
