@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.welcomeBlock {
  display: flex;
  margin-bottom: 109px;

  @include netbook {
    flex-direction: column;
    align-items: center;
  }

  @include mobile {
    gap: 24px;
    margin-bottom: 55px;
  }

  > .leftBlock {
    padding-top: 45px;

    > .heading {
      font-size: 60px;
      line-height: 72px;
      white-space: nowrap;

      @include mobile {
        font-size: 28px;
        line-height: 34px;
      }
    }

    > .text {
      max-width: 534px;
      margin: 20px 0 70px;
      font-size: 20px;
      line-height: 24px;

      @include notebook {
        margin: 19px 0 32px;
      }

      @include mobile {
        font-size: 18px;
        line-height: 22px;
      }
    }

    > .searchBtn {
      max-width: 335px;
      font-size: 22px;
      font-weight: 500;
      line-height: 27px;
      @include actionBtn;

      @include mobile {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  > .rightBlock {
    > img {
      max-width: 629px;

      @include mobile {
        max-width: 465px;
      }
    }
  }
}

.dividerWrap {
  height: 575px;
  margin-bottom: 107px;

  @include mobile {
    height: 392px;
    margin-bottom: 80px;
  }

  > .dividerImg {
    height: 100%;
    width: 100%;

    @include tablet {
      object-fit: cover;
      object-position: left;
    }
  }
}
