@mixin notebook {
  @media all and (max-width: 1340px) {
    @content;
  }
}

@mixin netbook {
  @media all and (max-width: 1270px) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: 1063px) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: 768px) {
    @content;
  }
}

@mixin mobileMedium {
  @media all and (max-width: 525px) {
    @content;
  }
}

@mixin mobileSmall {
  @media all and (max-width: 420px) {
    @content;
  }
}

@mixin containerSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin authBtn {
  width: 295px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: $black;
  text-decoration: none;
  text-align: center;
  background-color: $accent-turquoise;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: $accent-turquoise-hover;
  }
}
