@mixin notebook {
  @media all and (max-width: 1340px) {
    @content;
  }
}

@mixin netbook {
  @media all and (max-width: 1270px) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: 1063px) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: 768px) {
    @content;
  }
}

@mixin mobileMedium {
  @media all and (max-width: 525px) {
    @content;
  }
}

@mixin mobileSmall {
  @media all and (max-width: 420px) {
    @content;
  }
}

@mixin containerSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin mainHeading {
  font-size: 45px;
  font-weight: 900;
  line-height: 54px;

  @include mobile {
    font-size: 28px;
    line-height: 34px;
  }
}

@mixin pageHeading {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;

  @include mobile {
    font-size: 22px;
    line-height: 26px;
  }
}

@mixin link {
  text-decoration: none;
  cursor: pointer;
}

@mixin authLink {
  @include link;
  width: 295px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: $black;
  text-align: center;
  background-color: $accent-turquoise;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: $accent-turquoise-hover;
  }
}

@mixin button {
  background: transparent;
  cursor: pointer;
}

@mixin actionBtn {
  @include button;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  color: $white;
  background-color: $accent-blue;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: $accent-blue-hover;
  }
}
