@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('../fonts/fonts.scss');

$body-font: 'Inter', sans-serif;
$heading-font: 'Ferry';
$white: #ffffff;
$black: #000000;
$turquoise: #029491;
$turquoise-hover: #017675;
$gray: #d9d9d9;
$green: #8ac540;
$red: #ff5959;
$btn-gray: #d2d2d2;
$accent-yellow: #ffb64f;
$accent-turquoise: #7ce3e1;
$accent-turquoise-hover: #6bc8c6;
$accent-blue: #5970ff;
$accent-blue-hover: #4c5ed9;
$accent-gray: #c7c7c7;
$current-tariff-color: #3ba5e0;
$box-shadow: 0px 0px 15px 0px #00000033;
$input-box-shadow: 0px 0px 20px 0px #0000000d;
$focus-box-shadow: 0px 0px 20px 0px #02949133;
$error-box-shadow: 0px 0px 20px 0px #ff595933;
